{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}| User Dashboard{% endblock %}</title>
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">User Dashboard</h1>
          <p class="lead">Manage Your Investment Platform Account</p>
        </div>
      </div>
    </div>
  </section>
<!-- Alerts -->
{% include 'partials/alerts.html' %}
  <div class="col-sm-9 offset-sm-1">
    <h3>Change Password</h3>
    <hr>
    <form action="" method="post" novalidate class="shadow p-5">
     {% csrf_token %}
     {% for fm in form %}
       <div class="form-group">
       {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
       </div>
     {% endfor %}
     <input type="submit" value="Save" class="btn btn-danger mt-5">
     {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
     <p class="alert alert-danger my-3">{{error}}</p>
     {% endfor %}
     {% endif %}
     </form>
  </div>
 </div>
</div>
{% endblock %}
